{% extends "main.html" %}
{% block content %}
{% include "navbar.html" %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i>{{item.name}}</i>
                        <span class="pull-right">{{item.price}}</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="caption col-md-3">
                        <img src='{{item.picture}}' alt='' />
                    </div>
                    <div class="col-md-7">
                    <blockquote>
                        <p>{{item.description}}</p>
                    </blockquote>
                    </div>
                    {% if 'username' in session %}
                    {% if creator.user_id == item.user_id %}
                    <p class="pull-right">
                        <a href="{{url_for('editItem', cat_name=item.category.name, item_name=item.name)}}"><span class="text-info">Edit</span></a> | 
                        <a href="{{url_for('deleteItem', cat_name=item.category.name, item_name=item.name)}}"><span class="text-danger">Delete</span></a>
                    </p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <p class="pull-left"><a href="{{url_for('showCategory', cat_name=item.category.name)}}">&lt; Back To {{item.category.name}}</a></p>
            {% if creator %}
            <p class="pull-right text-centre">
                <i>Added by: {{creator.name}}</i> &nbsp;&nbsp;
                <img class="user-image" src="{{creator.picture}}" alt="{{creator.name}}" width="30px" />
            </p>
            {% endif %}
        </div>

        <div class="col-md-1"></div>
    </div>

</div>
<!-- /.container -->

{% endblock %}
